<div id="presentation-section">
    <div id="text-div">
        <span id="title">Our mission is to help you be on time</span>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Amet possimus consectetur atque architecto eos consequuntur vero culpa quo asperiores, nesciunt ipsum temporibus error. 
            Voluptatum minima minus, reprehenderit officia ad doloremque!
        </p>
    </div>
    <!-- <img id="image" src="../../../assets/alarm.png" alt=""> -->
</div>
<div id="top-companies">
    <div class="company" *ngFor="let c of topCompanies">
        <img src="{{ c.src }}" alt="{{ c.src }}">
        <span id="s1">{{ c.title }}</span>
        <span id="s2">{{ c.text }}</span>
    </div>
</div>
<div id="ceo">
    <div id="ceo-quote">
        <p id="quote">&ldquo;</p>
        <p id="quote-text">Sleep is my drug, my bed is the dealer and my alarm clock is the police</p>
        <p id="quote-name">
            ROB BED CEO & FOUNDER
        </p>
    </div>
    <img id="ceo-picture" src="../../../assets/about/sleepy_ceo.jpg" alt="">
</div>
<div id="impact">
    <div id="text">
        <span id="title">Impact</span>
        <h2 id="headline">We save our customers sleep, bedsheets and insomnia</h2>
    </div>
    <div id="stats-wrapper">
        <div id="stats">
            <div class="stat" *ngFor="let s of stats">
                <div class="number">{{ s.number }}</div>
                <div class="unit">{{ s.text }}</div>
            </div>
        </div>
    </div>
</div>
<div id="team">
    <div id="text">
        <span id="title">Our team</span>
        <h2 id="headline">Helping snorers with their breathing</h2>
    </div>
    <div id="employees">
        <div id="employee" *ngFor="let e of employees">
            <div class="picture">
                <img src="{{ e.pic }}" alt="{{ e.pic }}">
            </div>
            <div class="text">
                <span class="name">{{ e.name }}</span>
                <span class="position">{{ e.position }}</span>
            </div>
            <div class="links">
                <a href=""><i class="fab fa-linkedin fa-fw"></i></a>
                <a href=""><i class="fas fa-hamburger fa-fw"></i></a>
                <a href=""><i class="fas fa-bed fa-fw"></i></a>
            </div>
        </div>
    </div>
    <div id="join-us">
        <span id="text">Interested in joining the team?</span>
        <a id="careers" href="">
            <span id="text">View Careers</span>
            <i id="arrow-right" class="fas fa-arrow-right fa-fw"></i>
        </a>
    </div>
</div>
<div id="hq">
    <img src="../../../assets/about/coruscant_sm.png" alt="">
    <div id="text">
        <h2 id="title">Headquartered in Coruscant</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel nobis temporibus eos iure aperiam aliquid distinctio architecto similique deserunt accusantium veniam incidunt rem nihil dignissimos dicta, quo sit est ab!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium nam consequatur impedit laudantium, molestiae maxime cupiditate nobis facilis, tenetur consequuntur tempora commodi quia, culpa veritatis libero dolor aut qui corporis.
        </p>
    </div>
</div>
<footer>
    <div id="top">
        <div class="left">
            <span>© 2021 Getup. All rights reserved.</span>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
        <div class="right">
            <a href=""><i class="fas fa-hamburger fa-fw"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-fw"></i></a>
            <a href=""><i class="fab fa-linkedin fa-fw"></i></a>
        </div>
    </div>
    <p id="bottom">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem molestiae nesciunt necessitatibus vel iure, sequi atque similique optio repellat cum in labore fugit id dolor et eaque quod harum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed id ducimus aliquam atque distinctio eius iure error blanditiis possimus quibusdam explicabo veritatis voluptas nihil cupiditate consequuntur, autem reprehenderit dolor!
    </p>
</footer>
