<div id="presentation-section">
    <div id="text-div">
        <span id="title1">For heavy sleepers and hibernators</span>
        <span id="title2">Waking up made simple</span>
        <div id="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Amet possimus consectetur atque architecto eos consequuntur vero culpa quo asperiores, nesciunt ipsum temporibus error. 
            Voluptatum minima minus, reprehenderit officia ad doloremque!
        </div>
        <div class="button-div">
            <button id="top-button" class="try-for-free" (click)="goToSignup()">Try for free</button>
            <a id="top-link" class="book-a-demo" href="">
                <div>Book a demo</div>
                <i id="arrow-right" class="fas fa-arrow-right fa-fw"></i>
            </a>
        </div>
    </div>
    <img id="image" src="../../../assets/home/waking_up.jpg" height="500px" alt="">
</div>
<div class="companies">
    &nbsp;
</div>
<div class="feature">
    <img class="feature-picture" src="../../../assets/home/wake_up2.jpg" height="330px" alt="">
    <div class="feature-text">
        <span class="title">Get complete control of your sleeping habits</span>
        <div class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit aspernatur, debitis voluptatem consequatur quibusdam voluptatibus voluptate similique repellat, modi maxime. Perspiciatis illum doloremque eum id veniam facilis modi ab?
        </div>
        <div class="list">
            <span><i class="list-bullet fas fa-check-circle"></i>Lorem ipsum dolor sit amet</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Culpa necessitatibus error corporis</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Velit esse magni eveniet</span>
        </div>
    </div>
</div>
<div class="feature">
    <div class="feature-text">
        <span class="title">No more oversleeping</span>
        <div class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit aspernatur, debitis voluptatem consequatur quibusdam voluptatibus voluptate similique repellat, modi maxime. Perspiciatis illum doloremque eum id veniam facilis modi ab?
        </div>
        <div class="list">
            <span><i class="list-bullet fas fa-check-circle"></i>Lorem ipsum dolor sit amet</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Culpa necessitatibus error corporis</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Velit esse magni eveniet</span>
        </div>
    </div>
    <img class="feature-picture" src="../../../assets/home/wake_up3.jpg" height="330px" alt="">
</div>
<div class="feature">
    <img class="feature-picture" src="../../../assets/home/breakfast.jpg" height="330px" alt="">
    <div class="feature-text">
        <span class="title">Start your day the best way</span>
        <div class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit aspernatur, debitis voluptatem consequatur quibusdam voluptatibus voluptate similique repellat, modi maxime. Perspiciatis illum doloremque eum id veniam facilis modi ab?
        </div>
        <div class="list">
            <span><i class="list-bullet fas fa-check-circle"></i>Lorem ipsum dolor sit amet</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Culpa necessitatibus error corporis</span>
            <span><i class="list-bullet fas fa-check-circle"></i>Velit esse magni eveniet</span>
        </div>
    </div>
</div>
<div id="try-it-yourself">
    <h1 id="title">Take control of your awakening</h1>
    <!-- <span id="text">Fully featured 14-day free trial&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;Cancel anytime</span> -->
    <span id="text">Satisfied or your money back&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;No questions asked</span>
    <div class="button-div">
        <button id="bottom-button" class="try-for-free">Try for free</button>
        <a id="bottom-link" class="book-a-demo" href="">
            <div>Book a demo</div>
            <i id="arrow-right" class="fas fa-arrow-right fa-fw"></i>
        </a>
    </div>
</div>
<footer>
    <div id="top">
        <div class="left">
            <span>© 2021 Getup. All rights reserved.</span>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
        </div>
        <div class="right">
            <a href=""><i class="fas fa-hamburger fa-fw"></i></a>
            <a href=""><i class="fab fa-facebook-f fa-fw"></i></a>
            <a href=""><i class="fab fa-linkedin fa-fw"></i></a>
        </div>
    </div>
    <p id="bottom">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem molestiae nesciunt necessitatibus vel iure, sequi atque similique optio repellat cum in labore fugit id dolor et eaque quod harum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sed id ducimus aliquam atque distinctio eius iure error blanditiis possimus quibusdam explicabo veritatis voluptas nihil cupiditate consequuntur, autem reprehenderit dolor!
    </p>
</footer>

