
<nav id="nav" class="">
    <div id="nav-left" class="nav-links">
        <a routerLink="home">Home</a>
        <a routerLink="about">About</a>
    </div>
    <div id="nav-center">
        <a id="logo" href="#">
            <img src="../../../assets/wake-up.svg" height="50" class="d-inline-block align-top" alt="">
            <span id="getup" class="">Getup!</span>
        </a>
    </div>
    <div id="nav-right" class="nav-links">
        <a href="javascript:void(0)">Contact</a>
        <a href="javascript:void(0)">Shop</a>
        <a id="try-for-free" routerLink="/signup">Try for free!</a>
    </div>
</nav>
<button id="scroll-to-top"><i class="fas fa-chevron-up fa-fw"></i></button>